#test2 h1{
    font-size: 70px;
    color:black;
}

#test2 h4{
   
    color:rgb(53, 30, 75);
}

#test2{
    background-image: url("https://i.pinimg.com/originals/56/10/58/561058875123f58951559f98b7559c88.gif");
    opacity: 0.3;
    background-repeat:no-repeat;
    background-size: cover; 
    padding-bottom: 50px;
    padding-top: 50px;
    filter: grayscale(100%);
}

#derian_pic{
    border:4px solid #ADD8E6;
    border-radius: 50%;
    width: 50%;
    float: right;
}

#derian_pic:hover{
     border:4px solid darken(#ADD8E6,15%);
}