#banner-title h1{
    font-size: 50px;
    color:white;
    padding-top: 120px;
    animation-name: title;
    animation-duration: 2s;
    animation-name: title;
    animation-duration: 2s;
}

#button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #F5DFE9;
  opacity: 0.7;
 
}

#btn-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#test:hover #button {
  opacity: 2;
}

#test{
    background-image: linear-gradient(#CE2F45,#E595A2);
    padding-bottom: 50px;
    padding-top: 100px;
}

#main_pic{
    border:4px solid #CE2F45;
    border-radius: 50%;
    width: 80%;
    height: auto;
    min-height: 275px ;
    min-width: 275px ;
    animation-name: pic;
    animation-duration: 2s;
    float: right; margin: 20px 0px 20px 15px;
}


@keyframes pic {

        0% {
          transform:  translate(-60px,3px) ;
        }

        100% {
          transform:  translate(0px,0px) ;
        }
      
  }


  
@keyframes title {

    0% {
      transform:  translateY(80px) ;
    }
    100% {
      transform:  translateY(0) ;
    }
  
}
